<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bestelbevestiging</title>
</head>
<body>
<h1>Bedankt voor uw bestelling, {{ customerName }}!</h1>
<p>Uw bestelling is succesvol geplaatst met ordernummer: <strong>{{ orderNumber }}</strong>.</p>
<p>We nemen zo snel mogelijk contact met u op zodra uw bestelling klaar is voor afhalen.</p>

<hr>

<p>Met vriendelijke groet,</p>
<p>Je haar zit goed!</p>
</body>
</html>
