<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bestelling klaar om op te halen</title>
</head>
<body>
<h1>Uw bestelling ligt klaar!</h1>
<p>Beste {{ customerName }},</p>
<p>Uw bestelling met ordernummer:<strong>{{ orderNumber }}</strong>, is klaar om af te halen.</p>
<p>Uw bestelling blijft maximaal 2 weken beschikbaar.</p>

<hr>

<p>Met vriendelijke groet,</p>
<p>Je haar zit goed!</p>
</body>
</html>
