{% extends 'base.html.twig' %}

{% block body %}
    <div class="container py-5 my-5">
        <h1>Pagina niet gevonden</h1>

        <p>
            De pagina kan niet gevonden worden. <a href="{{ path('app_home') }}">Klik hier</a>.
        </p>
    </div>
{% endblock %}